.iconography {

    &-button {
        margin-top: $space-l;
    }

    &-image {
        margin-top: $space-l;
        width: 100%;
    }

    &-link {
        display: inline-block;
        margin-top: $space;
    }

}