.image-constrain {
    width: 100%;
}


.color-use {
    justify-content: space-around;
}

.colors__color {
    margin-top: 1.6rem;
}


.full-width {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
    
    & + & {
        
    }

    @media screen and (min-width: 768px) {
        
        flex-flow: row nowrap;
    }
}

.half-width {
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 49%;
        width: calc(50% - 1rem);
        justify-self: space-between;
    }
}

.example {
    margin-top: $space-l;
}

.support {
    @include set-text($base-minus-1);
    margin-top: 0;
    span + span {
        margin-left: $space;
    }
}

.category {
    padding-bottom: 0; //testing this atm

    .half-width {
        margin-top: 0;
    }

    .half-width + .half-width {
        margin-top: $space-l;

        @media screen and(min-width: 768px) {
            margin-top: 0;
        }
       
        
    }

    section {
        margin-top: $space-l;
    }
}