$color-slate-darker: #435463;
$color-slate: #5a7184; //OMG WRONG SLATE
$color-slate-lighter: #758DA1;

$color-blue-lighter: #0471CC;

$color-white: #fff;

$color-dark-grey: #2e2e2e;
$color-light-grey: #e9e9e9;

$color-affirmative: #357c08;// #4F8B33 - original green was used in design but didn't exist, I grabbed the other from Unum's button hover;

$color-negative: #C44242; //currently doesn't exist even in the colors section...

$color-pool: #47B5BD;
$color-gold: #FAC833;
$color-lawn: #8CC442;

$color-sky: #0376BB;
$color-yellow-green: #C1CF01;
$color-orange: #E89527;

$color-blue-light: #4981B0;
$color-blue: #015294;
$color-blue-dark: #19629D;
$color-blue-darker: #01335C;

$color-pool-dark: #2299a2;

$theme-primary: $color-blue;
$theme-primary-2: $color-blue-dark;
$theme-primary-3: $color-blue-dark;
$theme-primary-4: $color-blue-darker;

$theme-action: $color-blue;
$theme-action-2: $color-blue-dark;
$theme-action-3: $color-blue-darker;