.info-banner {
    background-color: #F6F8FA;
    background-image: url("../../../../unum/images/iconography/info-icon.svg");
    background-repeat: no-repeat;
    background-position: left 1.6rem center;
    border-radius: 8px;
    padding: 20px 60px 20px;
}