@mixin circle-color() {
    &:before,
    &:after {
        opacity: 0;
        transform: translateY(-5px);
        visibility: hidden;
        transition: 0.3s opacity, 0.2s transform;
    }

    &:before {
        @include set-text($base-minus-2);

        content: " ";
        background-color: $color-white;
        border: 1px solid $color-light-grey;
        border-radius: 4px;
        left: -65px;
        padding: $space-xs;
        position: absolute;
        text-align: center;
        top: -41px;
        width: 150px;
    }
    &:after {
        content: " ";
        border-bottom: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $color-light-grey;
        height: 1px;
        position: absolute;
        right: -3px;
        top: -10px;
        width: 1px;
    }
    &:hover, &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }
}