@function svg-uri($svg) {
    $encoded: '';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg) / $slice);

    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        $chunk: str-replace($chunk, '"', "'");
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        $chunk: str-replace($chunk, '&', '%26');
        $chunk: str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// @function arrow-right($color: $color-pool) {
//     @return svg-uri('<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M10.6531637,4.61328125 L11.5450285,3.74609375 C11.9226649,3.37890625 12.533311,3.37890625 12.90693,3.74609375 L20.7167727,11.3359375 C21.0944091,11.703125 21.0944091,12.296875 20.7167727,12.6601562 L12.90693,20.2539063 C12.5292936,20.6210938 11.9186475,20.6210938 11.5450285,20.2539063 L10.6531637,19.3867188 C10.2715099,19.015625 10.2795447,18.4101563 10.6692333,18.046875 L15.5102109,13.5625 L3.96417811,13.5625 C3.42986274,13.5625 3,13.1445312 3,12.625 L3,11.375 C3,10.8554687 3.42986274,10.4375 3.96417811,10.4375 L15.5102109,10.4375 L10.6692333,5.953125 C10.2755273,5.58984375 10.2674925,4.984375 10.6531637,4.61328125 Z" id="path-1"></path></defs><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icons/solid/arrow-right" transform="translate(-3.000000, -3.000000)"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="arrow-right" fill="#{$color}" fill-rule="nonzero" xlink:href="#path-1"></use></g></g></svg>');
// }

@function hamburger-icon($color: $color-blue) {
    @return svg-uri('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="18px" viewBox="0 0 34 18" version="1.1"><g id="Components" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Icons" transform="translate(-76.000000, -177.000000)" fill="#{$color}"><g id="White" transform="translate(76.000000, 164.000000)"><g id="Buger-Menu:-Normal" transform="translate(0.000000, 13.000000)"><rect id="Rectangle" x="0" y="0" width="34" height="2"/><rect id="Rectangle" x="0" y="8" width="34" height="2"/><rect id="Rectangle" x="0" y="16" width="34" height="2"/></g></g></g></g></svg>');
}

@function close-icon($color: $color-blue) {
    @return svg-uri('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="13px" viewBox="0 0 13 13" version="1.1"><g id="Components" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Icons" transform="translate(-703.000000, -245.000000)"><g id="White" transform="translate(76.000000, 164.000000)"><g id="Close:-Small" transform="translate(627.000000, 81.000000)"><g id="Clip-2"/><path d="M8.07807,6.406504 L12.43957,2.099604 C12.90757,1.639404 12.90757,0.891904 12.43957,0.431704 C11.97157,-0.029796 11.21107,-0.029796 10.74307,0.431704 L6.40627,4.712604 L2.09937,0.351104 C1.63917,-0.116896 0.89297,-0.116896 0.43147,0.351104 C-0.02873,0.820404 -0.02873,1.579604 0.43147,2.047604 L4.71367,6.384404 L0.35217,10.691304 C-0.11713,11.151504 -0.11713,11.899004 0.35217,12.359204 C0.82017,12.820704 1.57937,12.820704 2.04867,12.359204 L6.38417,8.078304 L10.69107,12.439804 C11.15127,12.907804 11.89877,12.907804 12.35897,12.439804 C12.82047,11.970504 12.82047,11.211304 12.35897,10.742004 L8.07807,6.406504 Z" id="Fill-1" fill="#{$color}"/></g></g></g></g></svg>');
}

