@mixin base() {
    margin-bottom: space(2);
    top: space(2);

    @media screen and (min-width: breakpoint(large)) {
        // Note: this requires a polyfill for IE/Edge so when editing this, remember that.
        position: sticky;
    }
}

.willow-secondary-nav {
    @include base;

    @import "link";
}