&__link {
    @include set-text($base);

    color: $color-slate;

    &:visited,
    &:active,
    &:hover,
    &:focus {
        color: $color-slate;
        background-color: transparent;
    }

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }

    &--active {
        background-color: transparent;
        color: $color-blue !important;
        font-weight: 600;
        
    }

    @media screen and (min-width: breakpoint(sm, $breakpoint-list)) {
        padding: $space-s $space;
    }

}