&__image-container,
&__image-container--large,
&__image-container--medium {
    flex-basis: auto;
    margin: $space-inline;
    min-width: 30%;
    @media screen and (min-width: breakpoint(medium)) {
        min-width: 0;
        text-align: center;
    }
}