.image-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 100%;
    
      @media screen and (min-width: breakpoint(sm, $breakpoint-list)) {
		height: 821px;
	}

	@media screen and (min-width: breakpoint(lg, $breakpoint-list)) {
		height: 821px;
	}
}

.grid-item {

      background-size: cover;
      background-position-y: center;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      height: 200px;
      margin: 3px 0;
      width: 100%;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
    }

    &:nth-child(1) {
            
        background-image: url("../../../../unum/images/photography/GettyImages-924568294.jpg");
        
    }
    &:nth-child(2) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-849270942.jpg");
        
    }
    &:nth-child(3) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-697387727.jpg");
    }
    &:nth-child(4) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-643360916.jpg");
        
    }
    &:nth-child(5) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-625507222.jpg");
    }
    &:nth-child(6) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-175138394.jpg");
        
    }
    &:nth-child(7) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-678819603.jpg");
        
    }
    &:nth-child(8) {
        
        background-image: url("../../../../unum/images/photography/GettyImages-1064841430.jpg");
        
    }

    @media screen and (min-width: breakpoint(sm, $breakpoint-list)) and (max-width: 1023px) {
        margin: 3px !important;
        width: calc(50% - 6px);
        
        &:nth-child(1) {
            background-position-y: 65%;
            height: calc(25% - 6px);
            order: 1;

        }
		&:nth-child(2) {
            background-position-x: center;
            height: calc(40% - 6px);
            order: 2;

		}
		&:nth-child(3) {
            background-position-y: 65%;
            height: calc(15% - 6px);
            order: 6;

		}
		&:nth-child(4) {
            height: calc(50% - 6px);
            order: 7;

		}
		&:nth-child(5) {
            background-position-y: 40%;
            height: calc(15% - 6px);
            order: 4;

		}
		&:nth-child(6) {
            background-position-y: 65%;
            height: calc(20% - 6px);
            order: 3;

		}
		&:nth-child(7) {
            background-position-y: 80%;
            height: calc(20% - 6px);
            order: 8;
		}
		&:nth-child(8) {
            background-position-y: 70%;
            height: calc(15% - 6px);
            order: 5;
		}
	}
	
	@media screen and (min-width: breakpoint(lg, $breakpoint-list)) {	
        margin: 3px !important;
        width: auto;

        &:nth-child(1) {
            height: calc(35% - 6px);
            background-position-x: 75%;
		}
		&:nth-child(2) {
            height: calc(65% - 6px);
            background-position-x: 65%;
		}
		&:nth-child(3) {
            height: calc(25% - 6px);
		}
		&:nth-child(4) {
            height: calc(55% - 6px);
            background-position-x: center;
		}
		&:nth-child(5) {
            height: calc(20% - 6px);
		}
		&:nth-child(6) {
            height: calc(35% - 6px);
            background-position-x: 65%;
		}
		&:nth-child(7) {
            height: calc(30% - 6px);
            background-position-x: 75%;
		}
		&:nth-child(8) {
            height: calc(35% - 6px);
            background-position-x: right;
		}
	}
}

.dodont {

      img {
            height: auto;
            margin-top: $space-s;
            width: 100%;

            @media screen and (min-width: breakpoint(sm, $breakpoint-list)) {
                  height: 260px
            }            
      }

      p {
            margin: 0;
      }

      section+section {
            margin-top: $space-xxl;
      }

      .full-width+.full-width {
            margin-top: $space-xl;
      }
}