@mixin base {
    @include set-text-style($text-style-heading-3);

    &::before {
        content: attr(data-label);
        display: block;
        font-style: italic;
        
        @include set-text-style($text-style-heading-5);

        
        @media screen and (min-width: breakpoint(medium)) {
            position: absolute;
            bottom: 100%;
            font-style: normal;

            @include set-text-style($text-style-heading-2);

            .voice-box:not(:first-of-type) & {
                display: none;
            }

        }
    }
}

&__heading {
    @include base;
}