@mixin base {
    position: relative;
    margin-bottom: 20px;
    
    &:nth-child(odd) {
        background-color: #f4f4f4;
        margin-left: space(-2);
        margin-right: space(-2);
        padding: space(2);
    }

    @media screen and (min-width: breakpoint(medium)) {
        display: flex;

        &:first-of-type {
            margin-top: 60px;
        } 
    }

    @media screen and (min-width: breakpoint(large)) {
        &:nth-child(odd) {
            margin-left: space(0);
            margin-right: space(0);
        }
    }
}

.voice-box {
    @include base;

    @import 'heading';
    @import 'negative';
    @import 'positive';
}