&__link {
    @include set-text($base-minus-1); 
    
    border: 0;
    border-left: 2px solid $color-neutral-darker;
    color: $color-slate-darker;
    padding: $space-s;
    margin-left: $space-xs;

    &[data-link-active="true"] {
        background-color: transparent;
        border-left: 2px solid $color-new-leaf-green-darker;
        font-weight: 600;

        &:focus {
            background-color: transparent;
            color: $color-slate-darker;
        }
    }

    &:hover {
        text-decoration: underline;
        
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
        background-color: transparent;
        color: $color-slate-darker;
    }
}