&__link {
    &[data-link-active="true"] {
        background-color: $component-secondary-nav-link-background-color-active;
        border-left: 4px solid $component-secondary-nav-link-border-color-active;
        &:focus {
            background-color: $component-secondary-nav-link-background-color-active;
            color: $component-secondary-nav-link-color-active;
        }
    }
}