@mixin base() {
    height: space(5);
}

&__image {
    @include base;

    .examples-grid__image-container--large & {
        @include base;
        
        position: absolute;
        right: 0;
        width: 200%;
    }
}
