@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.typography {
    margin: $space-stack-s;

    p {
        font-weight: 600;
        margin-top: 0;
    }

    &__image-container {
        margin: $space-stack;
        margin-left: $space;
        width: 250px;

        img {
            width: 100%;
        }
    }
}

.typography--oswald {
    p {
        @include set-text-style($text-style-heading-1);
    }
}

.typography--open-sans {
    p {
        @include set-text-style($text-style-content-1);
    }
}

.typography--open-sans-semibold {
    p {
        @include set-text-style($text-style-heading-3);
    }
}

.typography--source-sans-pro-light {
    p {
        font-family: 'Source Sans Pro';
    }
}

.typography--source-sans-pro-semibold {
    p {
        font-family: 'Source Sans Pro';
        font-weight: 600;
    }
}