&__swatch {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding: $space-inset;

    &--inverse-text {
        @include base;
        color: $component-body-text-color-inverse;
    }
}