$icons-folder: "node_modules/@unumux/theme-coloniallife-default/icons";
@import "../node_modules/@unumux/theme-coloniallife-default/styles";
$text-style-heading-1: ( family: $font-family-primary, desktop-size: 3.58318rem, desktop-line-height: line-height($font-size-4xl), mobile-size: 3.58318rem, mobile-line-height: line-height($font-size-3xl), weight: 300);
$text-style-heading-2: ( family: $font-family-primary, desktop-size: 2.48832rem, desktop-line-height: line-height($font-size-2xl), mobile-size: 2.48832rem, mobile-line-height: line-height($font-size-xl), weight: 300);
$text-style-heading-3: ( family: $font-family-secondary, desktop-size: 2.0736rem, desktop-line-height: line-height($font-size-xl), mobile-size: 1.728rem, mobile-line-height: line-height($font-size-l), weight: 600);
@import "../node_modules/@unumux/willow/styles";
// @import "mixins/mixins";
@import "components/components";
@import "components/overrides/overrides";
hr {
    background-color: $component-border-color;
    border-style: none;
    height: 4px;
    margin-bottom: space(2);
}