.asset {
        align-items: center;
        border: 1px solid $component-border-color;
        border-radius: 3px;
        display: flex;
        height: 140px;
        justify-content: center; //Min height doesnt work in IE11, has to have a height set to align-items in flex
        margin: $space-stack-s;

    &--dark {
        background-color: #19557F;
    }
    &--light {
        background-color: #E0DDCE;
    }
}