$icons-folder: "node_modules/@unumux/theme-coloniallife-default/icons";

@import "../node_modules/@unumux/theme-unum-default/styles";

@import "mixins/mixins";
@import "components/components";

hr {
    background-color: #DEE5EB;
    border-style: none;
    height: 4px;
    margin-bottom: space(2);
}