.typography {
    margin: $space-stack;

    p {
        font-weight: 600;
        margin: 0;
    }

    &--ubuntu {        
        p {
            @include set-text-style($text-style-heading-1);
        }
    }
    
    &--open-sans {        
        p {
            @include set-text-style($text-style-content-1);
        }
    }
    
    &--arial {
        p {
            @include set-text-style($text-style-content-1);
            font-family: 'arial';
        }
    }
}