.typography {
    margin-top: $space-l;

    p {
        word-wrap: break-word;
        margin-top: $space-xs;
    }

    &--ubuntu {     
        @include set-text($base-plus-1); 
        font-family: Ubuntu;
    }
    
    &--open-sans {        
        @include set-text($base-plus-1); 
    }
    
    &--arial {
        @include set-text($base-plus-1); 
        font-family: 'arial';
    }
}