@mixin base() {
    background-color: #FDBB30;
}

&--gold {
    @include base;

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}