@mixin base() {
    background-color: #727A80;
}

&--gray {
    @include base;

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}