@mixin base() {
    background-color: #8CC442;
}

&--lawn {
    @include base;

    &-dark-4 {
        background-color: #78A938;
    }

    &-dark-3 {
        background-color: #96C853;
    }

    &-dark-2 {
        background-color: #B5D789;
    }

    &-dark-1 {
        background-color: #C9DFAB;
    }

    &-light-2 {
        background-color: #DEE9CF;
    }

    &-light-1 {
        background-color: #E7EDE0;
    }

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}