@mixin base() {
    background-color: #8DC24B;
}

&--lawn {
    @include base;

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}