@mixin base() {
    background-color: #47B4BC;
}

&--pool {
    @include base;

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}