@mixin base() {
    background-color: #E0832E;
}

&--pumpkin {
    @include base;

    &-dark-4 {
        background-color: #954A21;
    }

    &-dark-3 {
        background-color: #A05123;
    }

    &-dark-2 {
        background-color: #AB5825;
    }

    &-dark-1 {
        background-color: #B76027;
    }

    &-light-1 {
        background-color: #EA9243;
    }

    &-light-2 {
        background-color: #F0AB6F;
    }

    &-light-3 {
        background-color: #F6C69A;
    }

    &-light-4 {
        background-color: #FDE2Ca;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}