@mixin base() {
    background-color:#CCBD8F;
}

&--sand {
    @include base;

    &-dark-4 {
        background-color: #946F3B;
    }

    &-dark-3 {
        background-color: #BEA97D;
    }

    &-dark-2 {
        background-color: #D8CCA5;
    }

    &-dark-1 {
        background-color: #E5DCBE;
    }

    &-light-2 {
        background-color: #EAE4CD;
    }

    &-light-1 {
        background-color: #F0ECDD;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}