@mixin base() {
    background-color: #00A6D7;
}

&--sky {
    @include base;

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}