&__image {
    background-color: $color-blue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 100%;
    position: absolute;
    opacity: .75; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}