&__item {
    &:first-child {
        margin-top: 0;
    }

    @media screen and (min-width: breakpoint(medium)) {
        width: 30%;
    }

    &--align-right {
        order: 3;
        text-align: right;
    }

    .table__group & {
        flex-basis: 100%;
    }
}