.button {
    background-color: $white;
    background-image: url("../../../../unum/images/iconography/download-icon.svg");
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -8px #356A95; // this is bottom only, removing the last value and resetting the other two from XD gets you regular...
    color: $color-blue;
    padding: 8px 10px;
}