.button {
    background-color: $white;
    background-image: url("../../../../unum/images/iconography/NEW-download-icon.svg");
    background-position: center right $space;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(53, 106, 149, 0.4);
    color: $color-blue;
    padding: $space-s $space-xxl $space-s $space;
    text-decoration: none;

    &:hover {
        border: 2px solid #B9D4E9;
    }
}