.image-constrain {
    width: 100%;
}

.color-use {
    justify-content: space-around;
}

.colors__color {
    margin-top: 1.6rem;
}

.full-width {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
    
    @media screen and (min-width: breakpoint(sm, $breakpoint-list)) {        
        flex-flow: row nowrap;
    }
}

.half-width {
    width: 100%;

    @media screen and (min-width: breakpoint(sm, $breakpoint-list)) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 49%;
        width: calc(50% - 1rem);
        justify-self: space-between;
    }
}

.container-fluid {
    margin: 0;
    text-align: left;
    max-width: 1300px;
}

.example {
    margin-top: $space-l;
}

.drop {
    top: 3px;
}

.support {
    @include set-text($base-minus-1);

    margin-top: 0;
    span + span {
        margin-left: $space;
    }

    & + & {
        margin-top: $space;
    }
}

.category {
    padding: $space;
    padding-top: $space-l;
    padding-bottom: 0;
    margin-top: 0;

    .half-width {
        margin-top: 0;
    }

    .half-width + .half-width {
        margin-top: $space-l;

        @media screen and (min-width: breakpoint(sm, $breakpoint-list)) {
            margin-top: 0;
        }
    }

    section {
        margin-top: $space-l;
    }

    @media screen and (min-width: breakpoint(lg, $breakpoint-list)) {
        padding: $space $space-xxl;
    }
}

.subheading {
    margin-top: $space-l;
}

.separate {
    border-bottom: 1px solid $color-neutral;
}

.overview {
    background-color: $color-slate-lighter;
    padding: $space $space;
    
    @media screen and (min-width: breakpoint(lg, $breakpoint-list)) {
        padding: $space $space-xxl $space-xl;
    }
}

a.primary-nav__link.distinct {
    color: $color-pool;
}