.detail {
    &-heading {
        @include set-text($base-plus-3);

        font-weight: 600;
        margin-top: $space-l;
     
        &--do {
            color: $color-affirmative;
        }

        &--donot {
            color: $color-negative;
        }
    }
}