@mixin base() {
    background-color: #84BA3D;
}

&--asparagus {
    @include base;

    &-dark-4 {
        background-color: #37730E;
    }

    &-dark-3 {
        background-color: #4B8222;
    }

    &-dark-2 {
        background-color: #5F952E;
    }

    &-dark-1 {
        background-color: #72A739;
    }

    &-light-1 {
        background-color: #A1C96B;
    }

    &-light-2 {
        background-color: #BDD992;
    }

    &-light-3 {
        background-color: #D7E8B9;
    }

    &-light-4 {
        background-color: #F4FAE1;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}