@mixin base() {
    background-color: #A4CC44;
}

&--asparagus {
    @include base;

    &-dark-4 {
        background-color: #83AB21;
    }

    &-dark-3 {
        background-color: #8CB42A;
    }

    &-dark-2 {
        background-color: #94BD32;
    }

    &-dark-1 {
        background-color: #9DC63B;
    }

    &-light-1 {
        background-color: #B5DC56;
    }

    &-light-2 {
        background-color: #C1E56A;
    }

    &-light-3 {
        background-color: #CEEE7F;
    }

    &-light-4 {
        background-color: #9DC63B;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}