@mixin base() {
    background-color: #1F3340;
}

&--charcoal {
    @include base;

    &-dark-4 {
        background-color: #0E1216;
    }

    &-dark-3 {
        background-color: #141C22;
    }

    &-dark-2 {
        background-color: #17252E;
    }

    &-dark-1 {
        background-color: #192C38;
    }

    &-light-1 {
        background-color: #2F4452;
    }

    &-light-2 {
        background-color: #384D5A;
    }

    &-light-3 {
        background-color: #405563;
    }

    &-light-4 {
        background-color: #495E6B;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}