@mixin base() {
    background-color: #BF2640;
}

&--darkred {
    @include base;

    &-dark-4 {
        background-color: #730026;
    }

    &-dark-3 {
        background-color: #820D2E;
    }

    &-dark-2 {
        background-color: #961735;
    }

    &-dark-1 {
        background-color: #A91F3B;
    }

    &-light-1 {
        background-color: #CD5C6F;
    }

    &-light-2 {
        background-color: #DD8F9C;
    }

    &-light-3 {
        background-color: #EEC0C7;
    }

    &-light-4 {
        background-color: #FFF3F3;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}