@mixin base() {
    background-color: #8A3D99;
}

&--grape {
    @include base;

    &-dark-4 {
        background-color: #4E1E66;
    }

    &-dark-3 {
        background-color: #5B2870;
    }

    &-dark-2 {
        background-color: #6A307D;
    }

    &-dark-1 {
        background-color: #79398A;
    }

    &-light-1 {
        background-color: #A56DAF;
    }

    &-light-2 {
        background-color: #C197C9;
    }

    &-light-3 {
        background-color: #DDC2E1;
    }

    &-light-4 {
        background-color: #FAEEFA;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}