&--grape {
    background-color: #5F3A6C;

    &-dark-4 {
        background-color: #33163D;
    }

    &-dark-3 {
        background-color: #3E1E49;
    }

    &-dark-2 {
        background-color: #492755;
    }

    &-dark-1 {
        background-color: #552E62;
    }

    &-light-1 {
        background-color: #C6B1CD;
    }

    &-light-2 {
        background-color: #D8C8DD;
    }

    &-light-3 {
        background-color: #E9DFEC;
    }

    &-light-4 {
        background-color: #FBF6FC;
    }
}