@mixin base() {
    background-color: #24731D;
}

&--leaf {
    @include base;

    &-dark-4 {
        background-color: #033F08;
    }

    &-dark-3 {
        background-color: #0E4A11;
    }

    &-dark-2 {
        background-color: #175817;
    }

    &-dark-1 {
        background-color: #1F651D;
    }

    &-light-1 {
        background-color: #5B9455;
    }

    &-light-2 {
        background-color: #8DB689;
    }

    &-light-3 {
        background-color: #C0D8BC;
    }

    &-light-4 {
        background-color: #F1FAEE;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}