@mixin base() {
    background-color: #78B25D;
}

&--leaf {
    @include base;

    &-dark-4 {
        background-color: #274A22;
    }

    &-dark-3 {
        background-color: #325D2C;
    }

    &-dark-2 {
        background-color: #3D7035;
    }

    &-dark-1 {
        background-color: #487F3F;
    }

    &-light-1 {
        background-color: #8BC471;
    }

    &-light-2 {
        background-color: #A9D496;
    }

    &-light-3 {
        background-color: #C8E6BB;
    }

    &-light-4 {
        background-color: #E6F7E0;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}