@mixin base() {
    background-color: #BFBFBF;
}

&--lightgray {
    @include base;

    &-dark-4 {
        background-color: #969595;
    }

    &-dark-3 {
        background-color: #A09F9F;
    }

    &-dark-2 {
        background-color: #AAAAAA;
    }

    &-dark-1 {
        background-color: #B4B4B4;
    }

    &-light-1 {
        background-color: #CDCDCD;
    }

    &-light-2 {
        background-color: #DBDBDB;
    }

    &-light-3 {
        background-color: #E9E9E9;
    }

    &-light-4 {
        background-color: #F7F7F7;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}