@mixin base() {
    background-color: #1A8573;
}

&--mint {
    @include base;
    
    &-dark-4 {
        background-color: #003F3F;
    }

    &-dark-3 {
        background-color: #0B504B;
    }

    &-dark-2 {
        background-color: #136259;
    }

    &-dark-1 {
        background-color: #1A7365;
    }

    &-light-1 {
        background-color: #51A494;
    }

    &-light-2 {
        background-color: #83C3B5;
    }

    &-light-3 {
        background-color: #B4E1D5;
    }

    &-light-4 {
        background-color: #E6FFF7;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}