&--mint {
    background-color: #1A8573;
    
    &-dark-4 {
        background-color: #003F3F;
    }

    &-dark-3 {
        background-color: #0B504B;
    }

    &-dark-2 {
        background-color: #136259;
    }

    &-dark-1 {
        background-color: #1A7365;
    }

    &-light-1 {
        background-color: #5DAC9D;
    }

    &-light-2 {
        background-color: #8CC5BA;
    }

    &-light-3 {
        background-color: #BADFD6;
    }

    &-light-4 {
        background-color: #E9F8F3;
    }
}