@mixin base() {
    background-color: #537650;
}

&--moss {
    @include base;

    &-dark-4 {
        background-color: #2A4525;
    }

    &-dark-3 {
        background-color: #355230;
    }

    &-dark-2 {
        background-color: #3F5F3A;
    }

    &-dark-1 {
        background-color: #4A6D46;
    }

    &-light-1 {
        background-color: #9DB999;
    }

    &-light-2 {
        background-color: #B2C7AD;
    }

    &-light-3 {
        background-color: #C6D6C3;
    }

    &-light-4 {
        background-color: #DCE7DA;
    }

    &--print {
        @include base;
        
        border-radius: 0rem;
        height: 10rem;
        width: 17rem;
    }
}