@mixin base() {
    background-color: #3BAECC;
}

&--ocean {
    @include base;

    &-dark-4 {
        background-color: #01637D;
    }

    &-dark-3 {
        background-color: #0F718C;
    }

    &-dark-2 {
        background-color: #1A809C;
    }

    &-dark-1 {
        background-color: #2292B0;
    }

    &-light-1 {
        background-color: #48BAD9;
    }

    &-light-2 {
        background-color: #77C7E2;
    }

    &-light-3 {
        background-color: #9ED6EB;
    }

    &-light-4 {
        background-color: #C2E8F8;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}