@mixin base() {
    background-color: #14AECC;
}

&--ocean {
    @include base;

    &-dark-4 {
        background-color: #006699;
    }

    &-dark-3 {
        background-color: #1378A3;
    }

    &-dark-2 {
        background-color: #198AAF;
    }

    &-dark-1 {
        background-color: #1E9BBD;
    }

    &-light-1 {
        background-color: #4FBFD5;
    }

    &-light-2 {
        background-color: #7ED3E1;
    }

    &-light-3 {
        background-color: #AEE5EC;
    }

    &-light-4 {
        background-color: #E1FAFA;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}