@mixin base() {
    background-color: #8394a1;

}

&--pewter {
    @include base;

    &--print {
        @include base;
        
        border-radius: 0rem;
        height: 10rem;
        width: 17rem;
    }
}