@mixin base() {
    background-color: #8F9EAA;
}

&--pewter {
    @include base;

    &-dark-4 {
        background-color: #405464;
    }

    &-dark-3 {
        background-color: #4F6171;
    }

    &-dark-2 {
        background-color: #5D6F7E;
    }

    &-dark-1 {
        background-color: #6C7E8C;
    }

    &-light-1 {
        background-color: #96A4B0;
    }

    &-light-2 {
        background-color: #ADB7C0;
    }

    &-light-3 {
        background-color: #C6CDD2;
    }

    &-light-4 {
        background-color: #E1E4E6;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}