@mixin base() {
    background-color: #BFBFBF;
}

&--pewter {
    @include base;

    &-dark-4 {
        background-color: #7F7F7F;
    }

    &-dark-3 {
        background-color: #8E8E8E;
    }

    &-dark-2 {
        background-color: #9F9F9F;
    }

    &-dark-1 {
        background-color: #AFAFAF;
    }

    &-light-1 {
        background-color: #CFCFCF;
    }

    &-light-2 {
        background-color: #DFDFDF;
    }

    &-light-3 {
        background-color: #EFEFEF;
    }

    &-light-4 {
        background-color: #FFFFFF;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
}