@mixin base() {
    background-color: #F38130;
}

&--pumpkin {
    @include base;

    &-dark-4 {
        background-color: #BF3E13;
    }

    &-dark-3 {
        background-color: #C94F24;
    }

    &-dark-2 {
        background-color: #D65F2C;
    }

    &-dark-1 {
        background-color: #E36F33;
    }

    &-light-1 {
        background-color: #F39E65;
    }

    &-light-2 {
        background-color: #F7BB8F;
    }

    &-light-3 {
        background-color: #FAD7B9;
    }

    &-light-4 {
        background-color: #FFF5E6;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}