@mixin base() {
    background-color: #F38130;
}

&--pumpkin {
    @include base;

    &-dark-4 {
        background-color: #903900;
    }

    &-dark-3 {
        background-color: #A04102;
    }

    &-dark-2 {
        background-color: #B04A03;
    }

    &-dark-1 {
        background-color: #C05205;
    }

    &-light-1 {
        background-color: #FF964B;
    }

    &-light-2 {
        background-color: #FFB47D;
    }

    &-light-3 {
        background-color: #FFD1AF;
    }

    &-light-4 {
        background-color: #FFEFE1;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}