&--sand {
    background-color:#E0DDCE;

    &-dark-4 {
        background-color: #A7A07D;
    }

    &-dark-3 {
        background-color: #B7B092;
    }

    &-dark-2 {
        background-color: #C6C1A7;
    }

    &-dark-1 {
        background-color: #D6D1BC;
    }

    &-light-1 {
        background-color: #E4E1D5;
    }

    &-light-2 {
        background-color: #ECE9E0;
    }

    &-light-3 {
        background-color: #F3F2EC;
    }

    &-light-4 {
        background-color: #FBFAF7;
    }
}