@mixin base() {
    background-color: #19557F;
}

&--steel {
    @include base;

    &-dark-4 {
        background-color: #001F4C;
    }

    &-dark-3 {
        background-color: #082D57;
    }

    &-dark-2 {
        background-color: #0F3B64;
    }

    &-dark-1 {
        background-color: #164870;
    }

    &-light-1 {
        background-color: #2B678A;
    }

    &-light-2 {
        background-color: #387898;
    }

    &-light-3 {
        background-color: #4588A4;
    }
    
    &-light-4 {
        background-color: #509AB3;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--sub {
        @include base;
        
        border-radius: 0.4rem;
        height: 11.5rem;
        width: 29rem;
    }
}