@mixin base() {
    background-color: #FAC832;
}

&--tangerine {
    @include base;

    &-dark-4 {
        background-color: #E68600;
    }

    &-dark-3 {
        background-color: #E89528;
    }

    &-dark-2 {
        background-color: #EEA630;
    }

    &-dark-1 {
        background-color: #F3B639;
    }

    &-light-1 {
        background-color: #FAD469;
    }

    &-light-2 {
        background-color: #FBE292;
    }

    &-light-3 {
        background-color: #FDEFBC;
    }

    &-light-4 {
        background-color: #FFFDE6;
    }
    
    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}