&--tangerine {
    background-color: #F1C44F;

    &-dark-4 {
        background-color: #C79719;
    }

    &-dark-3 {
        background-color: #D0A022;
    }

    &-dark-2 {
        background-color: #D8A82A;
    }

    &-dark-1 {
        background-color: #E1B133;
    }

    &-light-1 {
        background-color: #FAD164;
    }

    &-light-2 {
        background-color: #FCDE8E;
    }

    &-light-3 {
        background-color: #FDEAB7;
    }

    &-light-4 {
        background-color: #FFF7E1;
    }
}