@mixin base() {
    background-color: #F1C44F;
}

&--tangerine {
    @include base;

    &-dark-4 {
        background-color: #C79719;
    }

    &-dark-3 {
        background-color: #D0A022;
    }

    &-dark-2 {
        background-color: #D8A82A;
    }

    &-dark-1 {
        background-color: #E1B133;
    }

    &-light-1 {
        background-color: #FAD164;
    }

    &-light-2 {
        background-color: #FAD779;
    }

    &-light-3 {
        background-color: #FADC8E;
    }

    &-light-4 {
        background-color: #FAE2A3;
    }
    
    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}