.header {
    // background-image: url("../../images/logo-header.png");
    // background-image: url('http://www.placecage.com/300/600');
    background-image: url("../../images/logo-header.png");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}