@mixin base() {
    display: inline-block;
    margin-bottom: 0;
}

&__description {
    @include base;


    &--inverse-text {
        // @include base;

        color: $component-body-text-color-inverse;
    }
}