$color-slate-darker: #325772;
$color-slate: #5E88A1; //Correct slate per Tony as of 3/13/19
$color-slate-lighter: #E7EDF2;

$color-blue-lighter: #E2F2FB;

$color-white: #fff;

$color-dark-grey: #525252;
$color-light-grey: #e9e9e9;

$color-affirmative: #357c08;// this green is from weve got U - updated design for accessibility - doesn't exist yet in brand guide;

$color-negative: #C44242; //currently doesn't exist even in the colors section...

$color-neutral: #CCC;
$color-neutral-darker: #D9E1E8;

$color-pool: #47B5BD;
$color-gold: #FAC833;
$color-lawn: #345a02;

$color-new-leaf-green: #B6D991;
$color-new-leaf-green-darker: #5FA143;

$color-sky: #0376BB;
$color-yellow-green: #C1CF01;
$color-orange: #E89527;

$color-blue-light: #4981B0;
$color-blue: #015294;
$color-blue-dark: #19629D;
$color-blue-darker: #0D4881;

$color-pool-dark: #2299a2;

$theme-primary: $color-blue;
$theme-primary-2: $color-blue-dark;
$theme-primary-3: $color-blue-dark;
$theme-primary-4: $color-blue-darker;

$theme-action: $color-blue;
$theme-action-2: $color-blue-dark;
$theme-action-3: $color-blue-darker;