&__group {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    margin: $space-stack;
    order: 3;
    justify-content: space-between;

    @media screen and (min-width: breakpoint(medium)) {
        flex-basis: auto;
        flex-grow: 1;
        order: 2;
        width: 30%;
    }
}