@import "../node_modules/@unumux/theme-unum-default/styles";

$text-style-heading-1: ( 
    family: $font-family-primary, 
    desktop-size: 3.58318rem, 
    desktop-line-height: line-height($font-size-4xl), 
    mobile-size: 3.58318rem, 
    mobile-line-height: line-height($font-size-3xl), 
    weight: 500
);

$text-style-heading-2: ( 
    family: $font-family-primary, 
    desktop-size: 2.48832rem, 
    desktop-line-height: line-height($font-size-2xl), 
    mobile-size: 2.48832rem, 
    mobile-line-height: line-height($font-size-xl), 
    weight: 500
);

$text-style-heading-3: ( 
    family: $font-family-primary, 
    desktop-size: 2.0736rem, 
    desktop-line-height: line-height($font-size-xl), 
    mobile-size: 1.728rem, 
    mobile-line-height: line-height($font-size-l), 
    weight: 500
);

@import "../node_modules/@unumux/willow/styles";
@import "shared-components/shared-components";

.unum-brand-card-image {
    background-color: $theme-primary;
    background-image: url("/unum/images/unum-reversed-logo.svg");
    background-size: 50%;
}

.cl-brand-card-image {
    background-color: #19557f;
    background-image: url("../coloniallife/images/CL-logo-white.svg");
    background-size: 50%;
}

.willow-card[href],
.willow-card[href]:hover {
    transform: none;
    transition: none;
}

.willow-card.willow-card--link {
    flex-grow: 1;
}