//spacing stuff
@function pow($ratio, $exponent) {
    $value: 1;

    @if type-of($ratio) != "number" {
        @warn "`#{$ratio}` is not a number. The 'pow' function requires a number for the ratio value";
        @return false;
    }

    @if type-of($exponent) != "number" {
        @warn "`#{$exponent}` is not a number. The 'pow' function requires a number for the exponent value";
        @return false;
    }

    @if $exponent < 0 {
        @warn "`#{$exponent}` must be greater than 0";
        @return false;
    }

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $ratio;
        }
    }

    @return $value;
}

@function space($scale: 1) {
    @if type-of($scale) != "number" {
        @warn "`#{$scale}` is not a number. The 'space' function requires a number";
        @return false;
    }

    @if $scale < 1 {
        @return $spacebase * pow($golden-inverse, floor(1 / $scale));
    }

    @return $spacebase * pow($golden, $scale);
}

$spacebase: 1.6rem;
$golden: 1.618;
$golden-inverse: $golden - 1;

$space: $spacebase; // 1.6rem
$space-s: $space * .5; // .8rem
$space-xs: $space-s * .5; // .4rem
$space-xxs: $space-xs * .5; //.2rem
$space-l: $space * 1.5; //2.4rem
$space-xl: $space * 2; // 32rem
$space-xxl: $space-xl * 1.5; // 48rem
$space-xxxl: $space-xl * 2; //64rem
$space-xxxxl: $space-xxl * 1.5; //72rem 

$component-padding: $space-xxl $space;
$component-padding-desktop: 104px 0;
